/* style.css    */
/* Coda Club    */


/* form reset:  */

/* ----------------------------------------------------------------------------------------------------

Super Form Reset

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
 
input,
label,
select,
button,
textarea {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
	
	/* Browsers have different default form fonts */
	font-size: 13px;
	font-family: Arial;
}
 
/* Remove the stupid outer glow in Webkit */
input:focus {
	outline: 0;
}
 
/* Box Sizing Reset
-----------------------------------------------*/
 
/* All of our custom controls should be what we expect them to be */
input,
textarea {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
 
/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
/* Text Inputs
-----------------------------------------------*/
 
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
}
 
/* Button Controls
-----------------------------------------------*/
 
input[type=checkbox],
input[type=radio] {
	width: 13px;
	height: 13px;
}
 
/* File Uploads
-----------------------------------------------*/
 
input[type=file] {
 
}
 
/* Search Input
-----------------------------------------------*/
 
/* Make webkit render the search input like a normal text field */
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}
 
/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
	display:none;
}
 
/* Buttons
-----------------------------------------------*/
 
button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
	/* Fix IE7 display bug */
	overflow: visible;
	width: auto;
}
 
/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {	
	padding: 0;
	border: 0;
	background: none;
}
 
/* Textarea
-----------------------------------------------*/
 
textarea  {
	/* Move the label to the top */
	vertical-align: top;
	
	/* Turn off scroll bars in IE unless needed */
	overflow:auto;

  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
 
/* Selects
-----------------------------------------------*/
 
select {
 
}
 
select[multiple] {
	/* Move the label to the top */
	vertical-align: top;
}


body,
p { 
	background-position: center top;
	font-family: 'Montserrat', 'Arial', sans-serif;
	margin: 0;
}

a {
	cursor: pointer;
}

.clear{
	clear: both;
}

.wrap {
	margin: 0 auto;
	max-width: 1220px;
	text-align: center;
	padding: 0 25px;
}

#section1 {
	background:url(images/hero.jpg) no-repeat scroll left top / 100% 100%;
	color: #fff;
	height: 803px;
}

#menu {
  left: 50px;
  position: absolute;
  top: 100px;
}

#section1 p {
	font-size: 16px;
	line-height: 30px;
	padding: 245px 0 35px 0;
	text-align: center;
	text-transform: uppercase;
}

#websites {
	border: solid 2px #fff;
	display: inline-block;
	font-size: 60px;
	letter-spacing: 1px;
	margin: 0 auto 40px;
	padding: 30px 100px;
}

#section3 {
	background: url(images/coffee.jpg);
	height: 502px;
	width: 100%;
	float: left;
}

.seperator {
	background: #c59a6d;
	height: 2px;
	width: 60px;
	margin: 33px auto 10px;
	display: block;
}

.continue {
	background: center center no-repeat url(images/down-arrow-gold.png);
	border: solid 1px #c59a6d;
	display: block;
	height: 40px;
	margin: 0 auto;
	width: 40px;
}

#section1 .continue {
	background: center center no-repeat url(images/down-arrow.png);
}

#section1 .seperator {
	margin: 0 auto 35px;
}

#section2 {
	float: left;
	width: 100%;
	padding: 60px 0 80px 0;
}

#section2 span.minimize {
	opacity: 0;
}

#section2 h1,
#section4 h1,
#section6 h1 {
	text-transform: uppercase;
	color: #424a51;
	font-size: 24px;
}

#section2 p, 
#section4 p,
#section6 p, 
#section10 p{
	font: 22px/34px 'Montserrat', sans-serif;
	padding: 20px 200px;

}

#section4 {
	float: left;
	width: 100%;
	padding: 100px 0 80px 0;
}

.service {
	max-width: 364px;
	min-height: 410px;
	display: inline-block;
	text-align: center;
	border: 1px solid #8e9397;
	padding: 100px 15px 0 15px;
	margin: 150px 0 150px 40px;
	transition: all 0.3s ease 0s;
	vertical-align: top;
	width: 24%;
}

#services {

width: 100%;
}

.service:first-child {
	margin-left: 0;
}

#section4 .service p {
	padding: 20px 0;
	color: #424a51;
	font-size: 16px;
	text-align: left;
}

.service span {
	width: 65px;
	margin: 0 auto;
	display: block;
}

.service .brand-icon {
	background: url(images/service-brand-icon.png) left bottom no-repeat;
	height: 64px;
}

.service .web-icon {
	background: url(images/service-web-icon.png) left bottom no-repeat;
	height: 52px;    
	margin-top: 15px;
}

.service .app-icon {
	background: url(images/service-app-icon.png) left bottom no-repeat;
	height: 64px;
}

.service:hover .brand-icon {
	background: url(images/service-brand-icon.png) left top no-repeat;
	height: 64px;
}

.service:hover .web-icon {
	background: url(images/service-web-icon.png) left -24px no-repeat;
	height: 52px;    
	margin-top: 15px;
}

.service:hover .app-icon {
	background: url(images/service-app-icon.png) left top no-repeat;
	height: 64px;
}

#section4 h3 {
	text-transform: uppercase;
	color: #424a51;
	font-size: 24px;
}

#section4 .service:hover h3 {
	color: #c59a6d;
}

#section4 .service:hover {
	border: 1px solid #c59a6d;
	padding: 140px 15px 40px 15px;
	margin-top: 110px;
}

#section5 {
	background: #282f35;
	padding: 105px 0;
	width: 100%;
	float: left;
	margin: 20px 0;
}

#section5 a {
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid #776551;
	padding:15px 80px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#section5 a:hover {
	border: 1px solid #fff;
}

#section6 {
	float: left;
	width: 100%;
	padding: 120px 0;
}

#section7 {
	width: 100%;
	float: left;
}

.portfolio {
	width: 100%;
	position: relative;
	float: left;
}

.project {
	width: 20%;
	height: 270px;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

.project img {
	width: 100%;
}

.project .seperator {
	background: #fff;
	height: 2px;
	width: 32px;
	margin:20px auto;
	display: block;
}

.project .project-hover {
    background: url(images/project-hover.png) left top repeat;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    padding: 39% 0;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.project:hover .project-hover {
opacity: 1;
top: 0;
}

.project-hover p {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
}

.project-hover h4 {
	color: #c59a6d;
	font-size: 24px;
	font-weight: lighter;
    margin: 8px 0;
}

#section8 {
	width: 100%;
	float: left;
	padding: 115px 0;
}

#section8 .button-more {
	background: #c59a6d;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	padding: 16px 22px;
	display: inline-block;
	margin-bottom: 65px;
	border: 1px solid transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#section8 .button-more:hover {
	border: 1px solid #c59a6d;
	background: #fff;
	color: #c59a6d;
}

#section9 {
	background:url(images/partners.png) no-repeat scroll left top / 100% 100%;
	width: 100%;
	float: left;
	height: 500px; 
}
#section9 h1 {
	margin: 150px 0 50px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
}

.logo-section{
	padding: 30px 220px;
}

.logo-section a {
	width: 150px;
	float: left;
	margin: 5px 28px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo-section a:hover {
	margin-top: -5px;
}

#section10 {
	float: left;
	width: 100%;
	padding: 60px 0 80px 0;
}
#about-text {
	font: 22px/34px 'Montserrat', sans-serif;
	padding:20px 200px;
}
.team-member {
	display: inline-block;
	margin:25px 25px;
}
.team-member a {
	width: 104px;
	height: 104px;
	overflow: hidden;
	display: block;
}
.team-member a img {
	width: 210px;
	height: 316px;
	position: relative;
}
#mike img{
	top: 0;
	left: 0;
}
#taylor img{
	top: -106px;
}
#james img{
	top: -214px;
}
.team-member:hover #mike img{
	left: -106px;
}
.team-member:hover #taylor img{
	left: -106px;
}
.team-member:hover #james img{
	left: -106px;
}

#section11 {
	color: #fff;
	background: #282f35 url(images/macbook.jpg) no-repeat center top;
	float: left;
	width: 100%;
	padding: 60px 0 80px 0;
}

#tweet {
	font-style: italic;
	line-height: 30px;
	margin: 50px auto;
	max-width: 620px;
}

#author {
	margin-bottom: 50px;
	text-transform: uppercase;
}

#tweet-slider a {
	background: none;
	border: 1px solid #c59a6d;
	display: inline-block;
	height: 8px;
	margin-left: 15px;
	width: 8px;
}

#tweet-slider a:first-child {
	margin-left: 0;
}

#tweet-slider a.active,
#tweet-slider a:hover {
	background: #c59a6d;
}

#section12 {
	background: #282f35;
	color: #fff;
	float: left;
	width: 100%;
	padding: 120px 0;
}

#section12 .wrap {
	text-align: left;
}

#section12 h1 {
	text-align: center;
}

#section12 input {
	background: #1e2429;
	color: #c6c7c9;
	height: 50px;
	font-size: 16px;
	line-height: 50px;
	margin-bottom: 50px;
	padding-left: 22px;
	font-style: italic;
	width: 738px;
}

#section12 textarea {
	background: #1e2429;
	color: #c6c7c9;
	font-size: 16px;
	font-style: italic;
	line-height: 20px;
	margin-bottom: 50px;
	padding: 20px 0 20px 22px;
	width: 738px;
}

.content {
	overflow: auto;
}

.column1 {
	float: left;
	margin-bottom: 50px;
	width: 400px;
}

#social a {
	cursor: pointer;
	display: block;
	float: left;
	height: 22px;
	width: 30px;
	overflow: hidden;
}

#social a img {
	position: relative;
}

#social a:hover img {
	top: -24px;
}

#facebook img {
	left: 10px;
}

#twitter img {
	left: -51px;
}

#vimeo img {
	left: -112px;
}

#behance img {
	left: -173px;
}

.column2 {
	float: left;
	width: 760px;
}

fieldset {
	border: none;
}

#section12 input,
#section12 textarea {
	color: #fff;
}

#section12 input:focus,
#section12 textarea:focus {
	background: #1e2429 url(images/input-focus-bg.gif) repeat-x;
}

#section12 input.half {
	width: 338px;
}

.right {
	float: right;
}

#section12 input::-webkit-input-placeholder,
#section12 textarea::-webkit-textarea-placeholder {
   color: #c6c7c9;
}

#section12 input:-moz-placeholder,
#section12 textarea:-moz-placeholder { /* Firefox 18- */
   color: #c6c7c9;  
}

#section12 input::-moz-placeholder,
#section12 textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #c6c7c9;  
}

#section12 input:-ms-input-placeholder, 
#section12 textarea:-ms-textarea-placeholder {  
   color: #c6c7c9;  
}

#section12 input#send {
	background-color: #c59a6d;
	cursor: pointer;
	height: 50px;
	float: right;
	line-height: 50px;
	padding: 0;
	text-transform: uppercase;
	width: 170px;
}