/* style.css    */
/* Coda Club    */

body,
p { 
	background-position: center top;
	font-family: 'Montserrat', 'Arial', sans-serif;
	margin: 0;
}
.clear{
	clear: both;
}

.wrap {
	margin: 0 auto;
	max-width: 1270px;
	text-align: center;
}

#section1 {
	background:url("images/hero.jpg") no-repeat scroll left top / 100% 100%;
	color: #fff;
	height: 803px;
}

#menu {
  left: 50px;
  position: absolute;
  top: 100px;
}

#section1 p {
	font-size: 16px;
	padding: 245px 0 35px 0;
	text-align: center;
	text-transform: uppercase;
}

#websites {
	border: solid 2px #fff;
	display: inline-block;
	font-size: 60px;
	margin: 0 auto 40px;
	padding: 30px 100px;
}

#section3 {
	background: url(images/coffee.jpg);
	height: 502px;
	width: 100%;
	float: left;
}

.seperator {
	background: #c59a6d;
	height: 2px;
	width: 60px;
	margin:33px auto 10px;
	display:block;
}

.continue {
	background: center center no-repeat url(images/down-arrow-gold.png);
	border: solid 1px #c59a6d;
	display: block;
	height: 40px;
	margin:0 auto;
	width: 40px;
}

#section1 .continue {
	background: center center no-repeat url(images/down-arrow.png);
}

#section1 .seperator{
	margin:0 auto 35px;
}

#section2 {
	float: left;
	width: 100%;
	padding: 60px 0 80px 0;
}

#section2 h1,#section4 h1,#section6 h1{
	text-transform: uppercase;
	color: #424a51;
	font-size: 24px;
}

#section2 p, #section4 p,#section6 p{
	font: 22px/34px 'Montserrat', sans-serif;
	padding: 20px 200px;

}
#section4 {
	float: left;
	width: 100%;
	padding:100px 0 80px 0;
}

.service{
	width: 364px;
	min-height: 410px;
	float: left;
	text-align: center;
	border: 1px solid #8e9397;
	padding: 100px 15px 0 15px;
	margin: 150px 0 150px 40px;
	transition: all 0.3s ease 0s;
}

#services{
float: left;
width: 100%;
}

.service:first-child{
	margin-left: 0;
}

#section4 .service p{
	padding: 20px 0;
	color: #424a51;
}
.service span{
	width: 65px;
	margin: 0 auto;
	display: block;
}
.service .brand-icon{
	background: url(images/service-brand-icon.png) left bottom no-repeat;
	height: 64px;
}
.service .web-icon{
	background: url(images/service-web-icon.png) left bottom no-repeat;
	height: 52px;    
	margin-top: 15px;
}
.service .app-icon{
	background: url(images/service-app-icon.png) left bottom no-repeat;
	height:64px;
}
.service:hover .brand-icon{
	background: url(images/service-brand-icon.png) left top no-repeat;
	height: 64px;
}
.service:hover .web-icon{
	background: url(images/service-web-icon.png) left -24px no-repeat;
	height: 52px;    
	margin-top: 15px;
}
.service:hover .app-icon{
	background: url(images/service-app-icon.png) left top no-repeat;
	height:64px;
}

#section4 h3{
	text-transform: uppercase;
	color: #424a51;
	font-size: 24px;
}

#section4 .service:hover h3{
	color:#c59a6d;
}

#section4 .service:hover{
	border:1px solid #c59a6d;
	padding: 140px 15px 40px 15px;
	margin-top: 110px;
}

#section5{
	background: #282f35;
	padding: 105px 0;
	width: 100%;
	float: left;
	margin: 20px 0;
}

#section5 a{
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid #776551;
	padding:15px 80px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#section5 a:hover{
	border: 1px solid #fff;
}
#section6{
	float: left;
	width: 100%;
	padding: 120px 0;
}

#section7{
	width: 100%;
	float: left;
}
.portfolio{
	width: 100%;
	position: relative;
	float: left;
}
.project{
	width: 20%;
	height: 270px;
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}
.project img{
	width: 100%;
	}
.project .seperator {
	background: #fff;
	height: 2px;
	width: 32px;
	margin:20px auto;
	display:block;
}
.project .project-hover {
    background: url(images/project-hover.png) left top repeat;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    padding: 39% 0;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
.project:hover .project-hover{
opacity: 1;
top: 0;
}
.project-hover p{
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
}
.project-hover h4{
	color: #c59a6d;
	font-size: 24px;
	font-weight: lighter;
    margin: 8px 0;
}
#section8{
	width: 100%;
	float: left;
	padding: 115px 0;
}
#section8 .button-more{
	background: #c59a6d;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	padding:16px 22px;
	display: inline-block;
	margin-bottom: 65px;
	border:1px solid transparent;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#section8 .button-more:hover{
	border:1px solid #c59a6d;
	background: #fff;
	color: #c59a6d;
}
#section9{
	background:url("images/partners.png") no-repeat scroll left top / 100% 100%;
	width: 100%;
	float: left;
	height:500px; 
}
#section9 h1{
	margin: 150px 0 50px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;

}
.logo-section{
	padding: 30px 220px;
}
.logo-section a{
	width: 150px;
	float: left;
	margin: 5px 28px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.logo-section a:hover{
	margin-top:-5px;

	}

